<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="PRAGMA" content="NO-CACHE" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Piero Campanelli</title>
   <meta name="author" content="Piero Campanelli" />
   <link rel="icon" type="image/png" href="" />
   <!-- keywords? -->

	<!-- Stylesheets (based on CSS Blueprint)-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/blueprint/print.css" type="text/css" media="print">	
	<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<!--	<link rel="stylesheet" href="{{ site.baseurl }}/css/pierocampanelli.css" type="text/css" media="screen, projection">-->

</head>


<body>
<div class="container">
						
	<div id="header" class="span-24 last">
<!--		<h1 style="font-family:Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif; 
				   font-size: 40px; 
				   color:#777">Piero Campanelli</h1>
	</div>
-->
	<div id="picture" class="span-24 last">
		<img src="{{ site.baseurl }}/images/pierocampanelli.png" style="
			float:none;
	    	display: block;
	    	margin-left: auto;
	    	margin-right: auto;
			padding-top: 30px;
			padding-bottom: 10px;
			max-width: 500px;">
	</div>
	
	<div id="left-summary" class="span-2"><p></p></div>
	<div id="summary" class="span-20">
		<p style="
			font-family:Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif; 
			font-size: 1.5em;
			color: #777;
			text-align: center;
		">Hi, I am <strong>Piero Campanelli</strong> a Software Engineer and Technical Architect. I have 
		   a strong passion for software development, design and architecture, micro-isv 
		   world and cooking. I live in Italy, near Milan with my wife and my daughter
		</p>
	</div>
	<div id="right-summary" class="span-2 last"><p></p></div>
	
	<div id="left-col" class="span-6"><p></p></div>
	<div id="column1" class="span-6">
		<h3>Contact Me</h3>
			<a href="mailto:pc@pierocampanelli.info"><img src="{{ site.baseurl}}/images/mail.png"
			style="
				margin-left: 1em;
				margin-right: 1em;
				margin-bottom: 0.5em;
				vertical-align: middle;
			">Mail me</a>
			<br/>
			
			<a href="http://www.linkedin.com/in/pierocampanelli"><img src="{{ site.baseurl}}/images/linkedin.png"
			style="
				margin-left: 1em;
				margin-right: 1em;
				margin-bottom: 0.5em;
				vertical-align: middle;
			">LinkedIn Profile
			<br/></a>
			
			<a href="http://twitter.com/#!/pierocampanelli"><img src="{{ site.baseurl}}/images/twitter.png"
			style="
				margin-left: 1em;
				margin-right: 1em;
				margin-bottom: 0.5em;
				vertical-align: middle;
			">Twitter (@pierocampanelli)
			<br/></a>
	</div>
	
	<div id="column2" class="span-8">
		<h3>My Sites</h3>
			<a href="http://www.enjoythearchitecture.com/"><img src="{{ site.baseurl}}/images/ealogo.png"
			style="
				margin-left: 1em;
				margin-right: 1em;
				margin-bottom: 0.5em;
				vertical-align: middle;
			">Enjoy the Architecture</li>
			<br/></a>
	</div>
	<div id="right-summary" class="span-4 last"><p></p></div>

</div>



<!-- ClickTale Bottom part -->
<!-- ClickTale end of Bottom part -->

<!-- Analytics -->
{% if site.deploy != 'test' %}
{% include getclichy.html %}
{% endif %}
<!-- Google Analytics end -->

</body>
</html>
